
@font-face {
  font-family: afacad;
  src: url(../assets/fonts/Afacad_Flux/static/AfacadFlux-Regular.ttf);
}

*{
  font-family: afacad;
  src: url(../assets/fonts/Afacad_Flux/static/AfacadFlux-Regular.ttf);
}


.icon{
    width: 25px;

}

  /* Estilos para poder dar color a los iconos de SVG para las plataformas de los videojuegos */
.filter-blue {
    filter: invert(29%) sepia(79%) saturate(2100%) hue-rotate(200deg) brightness(96%) contrast(92%);
}

  
.filter-green {
    filter: invert(44%) sepia(94%) saturate(645%) hue-rotate(85deg) brightness(96%) contrast(88%);
}

.filter-red {
    filter: invert(21%) sepia(93%) saturate(7450%) hue-rotate(0deg) brightness(94%) contrast(113%);
}

.filter-yellow {
  filter: invert(16%) sepia(100%) saturate(432%) hue-rotate(200deg) brightness(90%) contrast(100%);
}

.filter-pink {
    filter: invert(74%) sepia(16%) saturate(583%) hue-rotate(291deg) brightness(101%) contrast(102%);
}

  
  