.icon{
    width: 25px;

}
.pc-icon {
color: #0078d4;
}
  
  .xbox-icon {
    color: #107c10;
  }
  
  .playstation-icon {
    color: #0068b7; 

  }
  
  .nintendo-icon {
    color: #e60012;
  }
  
  .other-icon {
    color: #9e9e9e; 
  }
  
  .ios-icon {
    color: #b0b0b0; 
  }
  
  
  