*{
    font-family: roboto;
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "section"
        "footer";
    min-height: 100vh;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.section {
    grid-area: section;
}

.footer {
    grid-area: footer;
}

.contenedorProductos {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.body_registro{
    background-image: url('/assets/images/Registro/fondo.jpg');
}

